<mat-toolbar color="primary" class="topics-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()" class="sidenav-toggle-button"><mat-icon>menu</mat-icon></button>
    <button mat-icon-button [ngx-scroll-to]="'#bottom-div'" (click)="createNote()" class="create-new-note-button"><mat-icon>add</mat-icon></button>
    <button mat-icon-button (click)="save()"*ngIf="changeText" class="sidenav-toggle-button"><mat-icon>save</mat-icon></button>
    <h1 class="application-name">Note Application</h1>
</mat-toolbar>
<textarea name="outside-text-area"></textarea>
<div class="notes-container">
<mat-sidenav-container fullscreen>
  <mat-sidenav md-menu #sidenav class="notes-sidenav-container">
    <mat-nav-list>
        <a mat-list-item *ngFor="let topic of topics.topics" (click)="retrieveNotes(topic.title)">{{topic.title}}</a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content id="notesList" class="notes-inner-container">
    <div id="sortable">
    <div class="note-container" *ngFor="let note of notes; let i = index" [attr.id]="'Location' + i">
        <div style="border: thin solid grey" [style.height]="height" [style.background-color]="backgroundColor[i]" >
          <div (focus)="focusFunction()" (mouseenter)="hoverEffect(i)" class="experimentalClass" (mouseleave)="mouseLeave(i)"><textarea id="textName" (paste)="textAreaDirty(i)" (keypress)="textAreaDirty()" autosize class="note-text-area">{{note.text}}</textarea>
            <div style="width: 17px;  float:right; min-height: 72px;" #p="ngbPopover"
  (click)="closeDirective(p)" placement="left" triggers="manual"
                    [ngbPopover]="popContent" >
              <div *ngIf="hoverable[i]" class="test" style=" margin-left: 3px; margin-top: 20px;">

              </div>
</div>
<ng-template #popContent><div (mouseleave)="mouseLeave2()">
  <button mat-icon-button (click)="removeNote(i)"><mat-icon>delete</mat-icon></button></div>
</ng-template>
</div>
    </div></div>
  </div>
  <div id="bottom-div"></div>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
